<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="june.legency.env">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a34e32cf83a251917200d5985e315658"/>
        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name="june.legency.activities.SettingActivity"
            android:excludeFromRecents="false"
            android:icon="@mipmap/ev_launcher"
            android:label="@string/ev_app"
            android:launchMode="singleTask"
            android:process="@string/setting_process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="june.legency.activities.DetailActivity">
        </activity>
        <activity
            android:name="june.legency.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:process="@string/setting_process"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="june.legency.activities.EnvDetailActivity"
            android:label="@string/title_activity_env_detail"
            android:process="@string/setting_process"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>